.section-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$md}{
    position: relative;
    height: calc(100% - 90px);
    background:url('/projet_mobilefirst/assets/images/background-img.jpg')no-repeat;
    background-size: cover;
  }
  .section-player-bg{
    position: relative;
    height: 150px;
    width: 100%;
    background:url('/projet_mobilefirst/assets/images/background-img.jpg')no-repeat;
    background-size: cover;
    z-index: 1;

    @media #{$md}{
      height: 100%;
      background: none;
    }

    @media #{$sm}{
      height: 250px;
    }

  }
  .section-player-info{
    margin-top: -55px;
    position: relative;
    z-index: 1;

    @media #{$md}{
      color: #fff;
      margin-top: 0;
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translate(-50%,-15%);
    }
    @media #{$sm} {
      margin-top: -90px;
    }
    .player-picture {
      margin-bottom: 15px;
      text-align: center;
      @media #{$md}{
        display: none;
      }

      img {
        display: inline-block;
        width: 110px;
        height: 110px;
        border-radius:50%;

        @media #{$sm}{
          width: 165px;
          height: 165px;
        }
      }
    }
    .player-name{
      font-weight: 700;
      font-size: 18px;

      @media #{$sm} {
        text-align: center;
      }
    }
    .container-team{
      text-align: center;
      .player-team{
       font-size: 9px;
      }

    }
  }

}

